# Installed emacs packages
elpa/
irony/

# Installed and downloaded software
global-*
globalinstalldir

# Saved session files
session.*

# Tramp files
tramp

# Custom file
custom.el

# auto-save-list
auto-save-list

# bookmarks
bookmarks

# projectile
projectile-bookmarks.eld
projectile.cache

# recentf mode
recentf